
body {
background-image: url(pexels-photo-225157.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0;
padding: 0;
text-align: center;
}
h1{
    padding-top: 4em;
    color: blanchedalmond;
    font-size: 60px;
}
p{
  margin: 2em 0;  
  color:#15F5BA;
  font-size: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
img{
    width: 40em;
    max-width: 90%;
}